
@font-face {
  font-family: 'MerriweatherSans-ExtraBold';
  src: url('fonts/MerriweatherSans-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('fonts/MerriweatherSans-ExtraBold.otf')  format('opentype'),
	     url('fonts/MerriweatherSans-ExtraBold.woff') format('woff'), url('fonts/MerriweatherSans-ExtraBold.ttf')  format('truetype'), url('fonts/MerriweatherSans-ExtraBold.svg#MerriweatherSans-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MerriweatherSans-Italic';
  src: url('fonts/MerriweatherSans-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/MerriweatherSans-Italic.otf')  format('opentype'),
	     url('fonts/MerriweatherSans-Italic.woff') format('woff'), url('fonts/MerriweatherSans-Italic.ttf')  format('truetype'), url('fonts/MerriweatherSans-Italic.svg#MerriweatherSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url('fonts/MerriweatherSans-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MerriweatherSans-Regular.otf')  format('opentype'),
	     url('fonts/MerriweatherSans-Regular.woff') format('woff'), url('fonts/MerriweatherSans-Regular.ttf')  format('truetype'), url('fonts/MerriweatherSans-Regular.svg#MerriweatherSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
