
    <div class="gauge">
        <ul class="meter">
            <li class="low"></li>
            <li class="normal"></li>
            <li class="high"></li>
        </ul>

        <div class="dial">
            <div class="inner" ng-style="{ 'transform': 'rotate(' + (main.prog * 177.5) / 100 + 'deg)', '-ms-transform': 'rotate(' + (main.prog * 177.5) / 100 + 'deg)', '-webkit-transform': 'rotate(' + (main.prog * 177.5) / 100 + 'deg)','-o-transform': 'rotate(' + (main.prog * 177.5) / 100 + 'deg)' }">
                <div class="arrow">
                </div>
            </div>
        </div>

        <div class="value">
            {{main.prog+"%"}}
        </div>

    </div>

    <br />

    <div>
        <div class="qs" ng-repeat="(qi,q) in main.qs.questions" ng-show="main.current===qi">
        <h1>{{q.q}}</h1>
            <ul class="opts">
                <li ng-repeat="opt in q.opts" ng-click="main.proc(opt)">{{opt.opt}}</li>
            </ul>
            <img ng-show="q.img" ng-src="{{q.img}}" />
        </div>
    </div>
